.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  border-radius: 16px 0 0 16px;
  overflow: hidden;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  color: var(--theme-primary);
  transition: all 0.2s ease;
}
.linkActive {
  color: #fff;
  background: var(--theme-primary);
}
.link:hover {
  color: #fff;
  background: var(--theme-primary-hover);
}
.icon {
  display: block;
  width: 30px;
  height: 30px;
}
